body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.2;
}

.btn {
    padding: 0.5rem 1.2rem;
    border: 0;
    border-radius: 3px;
}

.btn-custom-blue {
    background: #409ad5;
    color: white;
}

.btn-custom-blue:hover {
    background: white;
    color: #409ad5;
    border: 1px solid #409ad5;
}

.btn-custom-blue:focus {
    background: white;
    color: #409ad5;
    border: 1px solid #409ad5;
}

/* modal */
.modal-container {
    margin: 0 auto;
    position: relative;
}
    


.modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
}
    
.modal-container #modal-toggle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.modal-container #modal-toggle:hover ~ button { background: #1E824C; }

.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
  background-color: #fff;
  max-width: 230px;
  width: 100%;
  height: 280px;
  padding: 10px 30px;
  position: absolute;
  left: 12%!important;
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 400px) {
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content { left: 0; }
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 150px;
  background: lightgrey;
  color: #2b2b2b;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
  width: 100px;
  text-decoration: none;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.delete-button {
    top: initial;
    bottom: 20px;
    right: 20px;
    width: 100px;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #1E824C;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover { 
    color: #333; 
}
    

/* header */
.admin-header {
    height: 12vh;
    background: #409ad5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu */

.laptop-nav {
    display: none;
}
.admin-links
{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

    transition: color 0.3s ease;
}

.admin-links:hover
{
    color: #ededed;
}

#menuToggle
{
    display: block;
    position: relative;
    left: 25px;
    top: 5px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 70px;
    height: 62px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 50px;
    height: 4px;
    margin-bottom: 10px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#mobileMenu
{
    position: absolute;
    width: 80vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #409ad5;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#mobileMenu li
{
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}



/* Lists */

.list-item {
    padding: 0.5rem;
}


/* FORMS */

.form-container {
    background: rgb(236, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.submit-container {
    text-align: center;
}
.submit-button {
    margin: 1rem;
    width: 180px;
}
.form {
    background: white;
    border-radius: 3px;
    width: 80%;
}
.form-group {
    padding: 1rem 0.5rem;
}

.form-group label, .form-groupe input {
    display: block;
    padding: 7px 0;
}

.custom-input-text, .custom-textarea {
    width: 96%;
    padding: 0.3rem 5px;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.custom-textarea {
    height: 80px;
}

.custom-dropdown {
    border: 0;

}

.product-header, .product-content {
    display: flex;
    
}

.products-controls {
    display: flex;
    justify-content: space-between;
}

.sort-dropdown {
    height: 31px;
    margin-right: 0.5rem;
}

.product-content {
    border-bottom: 2px solid lightgrey;
}

.products-container h1 {
    padding-left: 1rem;
}

.products-container a {
    margin-left: 0.5rem;
    
}

.product-content-image img {
    width: 100%;
}

.p-column {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;
}

.product-content-actions {
    display: flex;
}

.product-content-actions .fas {
    font-size: 1.2rem;
    padding: 0.3rem;
}

.fa-edit {
    color: orange;
}

.fa-trash-alt {
    color: red;
}




/* TABLETTES */
@media screen and (min-width:768px) {
    html,body {
        font-size: 20px;
    }
    .admin-header {
        height: 10vh;
    }

    .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
        max-width : 460px;
        left: 16%!important;
    }

    .form-container {
        height: 90vh;
    }

    .custom-input-file {
        font-size: 1rem;
    }

    #productCategory {
        font-size: 1rem;
    }

    .btn-custom-blue, .sort-dropdown {
        font-size: 1.1rem;
    }

    .sort-dropdown {
        height: 49px;
        padding: 0.5rem 1rem;
    }

    .product-content-image img {
        width: 50%;
    }
}

/* ORDINATEURS */
@media screen and (min-width:1024px) {
    .admin-header {
        height: 5vh;
    }

    #menuToggle {
        display: none;
    }

    .laptop-nav {
        display: block;
    }
    .laptop-menu {
        display: flex;
        list-style-type: none;
    }

    .laptop-menu li {
        padding: 0 1rem;
    }

    .laptop-menu li a {
        font-size: 1rem;
    }

    .admin-main {
        display: flex;
    }

    .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
        max-width : 660px;
        left: 26%!important;
    }

   .form-container {
       height: 95vh;
       width: 160.5vh;
   }

   
}