@charset "UTF-8";
/* Fichier Sass à compiler en css */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  box-sizing: border-box; }

body {
  background-image: url("../img/noise_pattern_with_crosslines.png");
  margin: auto !important; }

.logo {
  width: 7em;
  margin-right: 20px; }

.title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background: linear-gradient(rgba(255, 0, 0, 0), #42031C, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  display: inline-block; }

@media screen and (max-width: 750px) {
  .title {
    margin-top: 0px; }

  .logo {
    padding-top: 20px; } }
.case-study-right {
  display: inline-block; }

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif; }

.case-study-gallery {
  margin-top: 1em;
  text-align: center;
  display: block; }
  .case-study-gallery p {
    margin: 0 auto 6rem;
    text-align: center;
    font-family: 'ARBONNIE';
    font-size: 1.25rem;
    color: #444; }

.study-container {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 20em; }

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 290px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.4s ease; }

@media screen and (max-width: 60em) {
  .study-container {
    margin-top: 0;
    margin-bottom: 2em; } }
@media screen and (min-width: 60em) {
  .case-study {
    display: inline-block;
    width: 30%;
    margin: 10px; } }
.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto; }

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10; }

.case-study__overlay:after {
  content: "";
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all 0.3s ease; }

.case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'ARBONNIE';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3); }

.case-study__link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'ARBONNIE';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3); }

.case-study__link:hover {
  background-color: white;
  color: #202020; }

.case-study:hover .case-study__title,
.case-study:hover .case-study__link {
  top: 0; }

.case-study:hover .case-study__overlay:after {
  opacity: 0.75; }

.study1 {
  background-image: url("../img/jewel.jpg"); }

.study2 {
  background-image: url("../img/car.jpg"); }

.study3 {
  background-image: url("../img/art.jpg"); }

/*Scss for the footer*/
footer {
  background: #373737;
  margin-top: auto;
  width: 100%;
  /*This main is mostly to push the footer to the bottom and for demo purposes.*/ }
  footer ul {
    list-style: none;
    display: inline-block;
    padding-left: 0px; }
  footer a {
    text-decoration: none; }
  footer .generic-anchor {
    color: #fff; }
    footer .generic-anchor:visited {
      color: #fff; }
    footer .generic-anchor:hover {
      color: #FFD700; }
  footer .flex-rw {
    display: flex;
    flex-flow: row wrap; }
  footer main {
    flex: 1 1 auto;
    /*For IE11*/
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10em 'ARBONNIE';
    color: #9b9b9b;
    line-height: 1; }
  footer .footer-list-top {
    margin-top: 0px;
    width: 49%; }
  footer .footer-list-top > li {
    text-align: center;
    padding-bottom: 10px; }
  footer .footer-list-header {
    margin-bottom: 15px;
    padding: 10px 0 0 0;
    color: #fff;
    font: 2.3em 'ARBONNIE'; }
  footer .footer-list-anchor {
    font: 1.3em 'ARBONNIE'; }
  footer .footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px; }
  footer .footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #FFD700;
    width: calc(100% - 20px); }
  footer .footer-social-overlap {
    position: relative;
    z-index: 2;
    background: #373737;
    padding: 0 20px; }
  footer .footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em 'ARBONNIE';
    color: #fff; }
  footer .footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px; }
  footer .footer-social-overlap > a {
    font-size: 2em; }
  footer .footer-social-overlap > a:not(:first-child) {
    margin-left: 0.38em; }
  footer .footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #FFD700;
    margin-top: 10px; }
  footer .footer-bottom-section > div:first-child {
    margin-right: auto; }
  footer .footer-bottom-wrapper {
    font-size: 1em;
    color: #fff; }
  footer .footer-address {
    display: inline;
    font-style: normal; }
  @media only screen and (max-width: 768px) {
    footer .footer-list-header {
      font-size: 2em; }
    footer .footer-list-anchor {
      font-size: 1.1em; }
    footer .footer-social-connect {
      font-size: 2.5em; }
    footer .footer-social-overlap > a {
      font-size: 2.24em; }
    footer .footer-bottom-wrapper {
      font-size: 1.3em; } }
  @media only screen and (max-width: 568px) {
    footer main {
      font-size: 5em; }
    footer .footer-list-top {
      width: 100%; }
    footer .footer-list-header {
      font-size: 3em; }
    footer .footer-list-anchor {
      font-size: 1.5em; }
    footer .footer-social-section {
      justify-content: center; }
    footer .footer-social-section::after {
      top: 25%; }
    footer .footer-social-connect {
      margin-bottom: 10px;
      padding: 0 10px; }
    footer .footer-social-overlap {
      display: flex;
      justify-content: center; }
    footer .footer-social-icons-wrapper {
      width: 100%;
      padding: 0; }
    footer .footer-social-overlap > a:not(:first-child) {
      margin-left: 20px; }
    footer .footer-bottom-section {
      padding: 0 5px 10px 5px; }
    footer .footer-bottom-wrapper {
      text-align: center;
      width: 100%;
      margin-top: 10px; } }
  @media only screen and (max-width: 480px) {
    footer .footer-social-overlap > a {
      margin: auto; }
    footer .footer-social-overlap > a:not(:first-child) {
      margin-left: 0; }
    footer .footer-bottom-rights {
      display: block; } }
  @media only screen and (max-width: 320px) {
    footer .footer-list-header {
      font-size: 2.2em; }
    footer .footer-list-anchor {
      font-size: 1.2em; }
    footer .footer-social-connect {
      font-size: 2.4em; }
    footer .footer-social-overlap > a {
      font-size: 2.24em; }
    footer .footer-bottom-wrapper {
      font-size: 1.3em; } }

/*******************************************************************************************/
/* SCSS for categories*/
/* center container in the middle */
.gallery {
  display: block;
  text-align: center;
  margin-bottom: 50px; }
  .gallery .container {
    text-align: -webkit-auto;
    display: inline-block;
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 40em;
    height: 15.5em;
    margin: 0.5em;
    background: #F5F5F5;
    box-shadow: 5px 5px 15px rgba(66, 3, 28, 0.5);
    border-radius: 10px; }
  .gallery p {
    font-size: 0.6em;
    color: #BA7E7E;
    letter-spacing: 1px; }
  .gallery h1 {
    font-size: 1.4em;
    color: #4E4E4E;
    margin-top: -5px; }
  .gallery h2 {
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 5px;
    background: linear-gradient(rgba(255, 0, 0, 0), #42031C, rgba(255, 0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .gallery .catégorie_image {
    width: 375px;
    padding: 1em; }
  .gallery .produits {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 60%; }
  @media only screen and (max-width: 750px) {
    .gallery .produits {
      display: contents;
      text-align: center; }
    .gallery .catégorie_image {
      width: 300px; } }
  .gallery .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #4E4E4E;
    font-size: 1em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify; }
  .gallery button {
    background: #42031C;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer; }
    .gallery button:hover {
      background: #FFC72A;
      color: black;
      transition: all .4s ease-in-out; }
  .gallery .add {
    width: 48%;
    margin-right: 2px; }

/* Scss for products */
.product {
  height: 95%; }

.fiche-produit {
  margin: 2em;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: flex; }
  @media screen and (max-width: 750px) {
    .fiche-produit {
      display: block;
      text-align: center; } }
  .fiche-produit .photo-produit {
    width: 40%; }
    @media screen and (max-width: 750px) {
      .fiche-produit .photo-produit {
        width: 80%;
        margin: auto; } }
  .fiche-produit .descriptif {
    display: inline-block;
    width: 50%;
    padding-left: 20px; }
    @media screen and (max-width: 750px) {
      .fiche-produit .descriptif {
        width: 100%; } }
    .fiche-produit .descriptif div {
      margin-top: 30px;
      text-align: center; }
      .fiche-produit .descriptif div button {
        background: #42031C;
        display: inline-block;
        outline: 0;
        border: 0;
        margin: -1px;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #F5F5F5;
        cursor: pointer;
        padding: 10px 20px 10px 20px;
        margin: 20px; }
        .fiche-produit .descriptif div button:hover {
          background: #FFC72A;
          color: black;
          transition: all .4s ease-in-out; }
    .fiche-produit .descriptif h2 {
      text-align: center; }
    .fiche-produit .descriptif p {
      text-align: center;
      font-family: 'ARBONNIE';
      font-size: 1.25rem;
      color: #444;
      margin-bottom: 0px; }
  .fiche-produit img {
    margin: auto;
    width: 90%; }

@media only screen and (max-width: 750px) {
  .product {
    height: auto; }

  .gallery .container {
    width: auto; }
    .gallery .container h1 {
      display: none; }
    .gallery .container p {
      display: none; } }
/********************scss header*********************************************************************************************************************************************************/
.menu-classique #menu-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }
  @media screen and (max-width: 750px) {
    .menu-classique #menu-header #menu-header li a {
      text-align: center;
      float: none; } }
  .menu-classique #menu-header li {
    float: left;
    border-right: 1px solid #bbb;
    color: white;
    padding: 15px; }
    .menu-classique #menu-header li li:last-child {
      border-right: none; }
    .menu-classique #menu-header li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    .menu-classique #menu-header li:hover:not(.active) {
      background: #42031C; }
    .menu-classique #menu-header li .active {
      background-color: #4CAF50; }

@media screen and (max-width: 750px) {
  .menu-classique {
    display: none; }

  .menu-responsive {
    display: block !important; } }
.menu-responsive {
  display: none; }

@media screen and (max-width: 750px) {
  .menu-responsive {
    /*
     * Just a quick hamburger
     */
    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    /*
     * But let's hide the middle one.
     */
    /*
     * Ohyeah and the last one should go the other direction
     */
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    /*
     * And let's slide it in from the left
     */ }
    .menu-responsive #menuToggle {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
    .menu-responsive #menuToggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      /* hide this */
      z-index: 2;
      /* and place it over the hamburger */
      -webkit-touch-callout: none; }
    .menu-responsive #menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #444;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    .menu-responsive #menuToggle span:first-child {
      transform-origin: 0% 0%; }
    .menu-responsive #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }
    .menu-responsive #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: white; }
    .menu-responsive #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    .menu-responsive #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px); }
    .menu-responsive #menu {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px 0 0 50px;
      padding-top: 115px;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(-103%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      background: #42031C;
      border-radius: 0 30px 30px 0;
      opacity: 1; }
      .menu-responsive #menu a {
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        color: white;
        position: relative;
        z-index: 1; }
        .menu-responsive #menu a:hover {
          color: #FFC72A; }
          .menu-responsive #menu a:hover li {
            content: "";
            z-index: -1;
            transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1); }
        .menu-responsive #menu a:after {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          display: block;
          background-color: #444;
          content: "";
          transform: translate3d(-101%, 0, 0);
          z-index: -1;
          transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1); }
        .menu-responsive #menu a:last-child li {
          border-radius: 0 0 30px 0; }
      .menu-responsive #menu:hover, .menu-responsive #menu:after {
        transform: translate3d(0, 0, 0); }
    .menu-responsive #menu li {
      padding: 10px 0 10px 10px;
      font-size: 22px; }
    .menu-responsive #menuToggle input:checked ~ ul {
      transform: none; } }
/*Page Connection*/
.modal-body {
  width: 360px;
  margin: auto; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #42031C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.deconnexion {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #42031C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form button:hover, .form button:active, .form button:focus {
  background: #5f0026; }

/*# sourceMappingURL=front.css.map */
